body {
    background-image: url("img/header.jpg");
    font-family: 'Roboto', sans-serif;
    background-size: 100% 100%;
    height: 100vh;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    width: 800px;
}
i {
   height: 50px;
   width: 50px;
}
a:link {
  color: rgba(255, 255, 255, 0.8);
  background-color: solid;
  text-decoration: none;
}
a:visited {
  color: rgba(255, 255, 255, 0.8);
  background-color: solid;
  text-decoration: none;
}